Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: trailing-whitespace
          exclude: \.md$
        - id: end-of-file-fixer
          exclude: \.md$
        - id: check-yaml
        - id: check-added-large-files
        - id: check-merge-conflict
    - repo: local
      hooks:
        - id: go-fmt
          name: go fmt
          entry: gofmt
          args:
            - -w
          description: Runs gofmt, requires golang
          language: system
          files: \.go$
        - id: go-vet
          name: go vet
          entry: go
          args:
            - vet
            - ./...
          description: Runs go vet, requires golang
          language: system
          files: \.go$
          pass_filenames: false
        - id: go-mod-tidy
          name: go mod tidy
          entry: go
          args:
            - mod
            - tidy
          description: Runs go mod tidy, requires golang
          language: system
          files: (go\.mod|go\.sum|\.go)$
          pass_filenames: false
    - repo: local
      hooks:
        - id: antimoji-clean
          name: Auto-clean Emojis
          entry: antimoji
          args:
            - clean
            - --config=.antimoji.yaml
            - --profile=zero-tolerance
            - --in-place
            - --quiet
          description: Remove all emojis from source code files
          language: system
          files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
          exclude: (?x)^(.*_test\.go|.*/test/.*|.*/tests/.*|.*/testdata/.*|.*/fixtures/.*|.*/mocks/.*|vendor/.*|dist/.*|bin/.*|.*\.md$|docs/.*|\.antimoji\.yaml$|internal/core/detector/detector\.go|internal/core/allowlist/allowlist\.go|internal/config/templates\.go)$
          pass_filenames: true
          require_serial: true
        - id: antimoji-verify
          name: Emoji Verification
          entry: antimoji
          args:
            - scan
            - --config=.antimoji.yaml
            - --profile=zero-tolerance
            - --threshold=0
            - --quiet
          description: Strict verification - no emojis allowed in source code
          language: system
          files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
          exclude: (?x)^(.*_test\.go|.*/test/.*|.*/tests/.*|.*/testdata/.*|.*/fixtures/.*|.*/mocks/.*|vendor/.*|dist/.*|bin/.*|.*\.md$|docs/.*|\.antimoji\.yaml$|internal/core/detector/detector\.go|internal/core/allowlist/allowlist\.go|internal/config/templates\.go)$
          pass_filenames: true
          require_serial: true

fix(ci): make Windows tests non-blocking in nightly builds
  .github/workflows/nightly.yml
Due: none

fix(ci): remove Windows from nightly build matrix
  .github/workflows/nightly.yml
Due: none

refactor: remove golangci-lint integration and fix CI stability (#11)
  CHANGELOG.md
  README.md
  internal/app/commands/setup_lint.go
  internal/app/commands/setup_lint_test.go
  internal/cli/setup_lint.go
  internal/cli/setup_lint_regression_test.go
  internal/cli/setup_lint_test.go
  internal/cli/zero_coverage_functions_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

docs: update CHANGELOG for v0.9.17 release
  CHANGELOG.md
Due: none

fix(ci): resolve maintenance workflow failures
  .github/workflows/maintenance.yml
Due: none

docs: update CHANGELOG for v0.9.18 release
  CHANGELOG.md
Due: none

test: add mock UserOutput implementation
  internal/ui/mock.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

docs: add upgrade command documentation
  README.md
Due: none

feat: integrate upgrade command into application
  internal/app/application.go
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

feat: add CLI integration for upgrade command
  internal/cli/upgrade.go
  internal/cli/upgrade_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

feat: implement upgrade command with multi-strategy detection
  internal/app/commands/upgrade.go
  internal/app/commands/upgrade_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

ci: adjust coverage threshold to 79% for upgrade feature
  Makefile
Due: none

ci: update CI workflow coverage threshold to 79%
  .github/workflows/ci.yml
Due: none

fix: resolve upgrade command compilation and installation issues
  internal/app/commands/upgrade.go
  internal/cli/upgrade.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

deps: add golang.org/x/mod/semver dependency
  go.mod
Due: go-mod-tidy

refactor(upgrade): improve version comparison and installation detection
  go.mod
  go.sum
  internal/app/commands/upgrade.go
  internal/app/commands/upgrade_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

fix(cli): configure build version with ldflags documentation
  internal/cli/root.go
  internal/cli/root_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify

docs(ui): clarify mock core instance ownership
  internal/ui/mock.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-clean, antimoji-verify
