Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: antimoji-source-lint, build-antimoji, antimoji-auto-clean

.pre-commit-config.yaml:

# Pre-commit configuration for Antimoji project
# This configuration uses antimoji to lint its own codebase

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-mod-tidy

  # Local antimoji hooks (using the built binary)
  - repo: local
    hooks:
      # Strict emoji linting for source code
      - id: antimoji-source-lint
        name: Antimoji Source Code Linter
        description: Ensure no emojis in production source code
        entry: bin/antimoji scan --config=.antimoji.yaml --profile=ci-lint --threshold=0 --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            cmd/.*
          )$
        pass_filenames: true
        require_serial: false

      # Build antimoji before running hooks (ensures binary is available)
      - id: build-antimoji
        name: Build Antimoji Binary
        description: Build antimoji binary for other hooks
        entry: make build
        language: system
        files: \.(go)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit, pre-push]

      # Generate antimoji configuration if it doesn't exist
      - id: ensure-antimoji-config
        name: Ensure Antimoji Configuration
        description: Generate .antimoji.yaml if it doesn't exist
        entry: bash -c 'if [ ! -f .antimoji.yaml ]; then make generate-allowlist; fi'
        language: system
        files: \.antimoji\.yaml$
        pass_filenames: false
        require_serial: true
        always_run: true
        stages: [pre-commit]

      # Auto-clean emojis from source code (with backup)
      - id: antimoji-auto-clean
        name: Antimoji Auto-Clean
        description: Automatically remove emojis from source code files
        entry: bin/antimoji clean --config=.antimoji.yaml --profile=pre-commit --in-place --backup --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            internal/cli/generate\.go|
            internal/config/config\.go|
            internal/core/allowlist/allowlist\.go|
            internal/core/detector/detector\.go|
            internal/cli/root\.go|
            internal/types/detection\.go
          )$
        pass_filenames: true
        require_serial: false
        stages: [pre-commit]

refactor(build): clean up Makefile and add antimoji integration
  Makefile
  README.md
Due: none

chore: clean up test files
  test-auto-clean.go
  test-emoji-source.go
Due: antimoji-source-lint, build-antimoji, antimoji-auto-clean

docs(readme): highlight linting capabilities and add comprehensive integration examples
  README.md
Due: none

fix(ci): repair corrupted release workflow YAML formatting
  .github/workflows/release.yml
Due: none

fix(ci): improve nightly security scan error handling
  .github/workflows/nightly.yml
Due: none

fix(tests): add cross-platform compatibility for Windows builds
  internal/cli/generate.go
  internal/config/config_test.go
  internal/core/processor/modifier_test.go
  internal/infra/concurrency/pool_test.go
  internal/infra/fs/reader_test.go
Due: antimoji-source-lint, build-antimoji

fix(tests): complete Windows permission test fixes
  internal/core/processor/modifier_test.go
Due: build-antimoji

fix(ci): resolve Windows PowerShell syntax issues in nightly workflow
  .github/workflows/nightly.yml
Due: none

fix(ci): use proper PowerShell call operator for Windows binary test
  .github/workflows/nightly.yml
Due: none

fix(tests): final Windows concurrency timing fix
  .github/workflows/nightly.yml
  internal/infra/concurrency/pool_test.go
Due: build-antimoji

fix(ci): ensure Windows binary built with .exe extension
  .github/workflows/nightly.yml
Due: none

fix(ci): update golangci-lint to v2 for config compatibility
  .github/workflows/ci.yml
Due: none

fix(ci): update to golangci-lint-action v7 for v2 support
  .github/workflows/ci.yml
Due: none

fix(lint): fix golangci-lint v2 configuration validation
  .golangci.yml
Due: none
