Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

go-fmt:
  name: go fmt
  description: Runs gofmt, requires golang
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: go vet
  description: Runs go vet, requires golang
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  description: Runs go mod tidy, requires golang
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

antimoji-source-lint:
  name: Antimoji Source Code Linter
  description: Ensure no emojis in production source code
  entry: bin/antimoji scan --config=.antimoji.yaml --profile=ci-lint --threshold=0 --quiet
  language: system
  pass_filenames: true
  require_serial: false

build-antimoji:
  name: Build Antimoji Binary
  description: Build antimoji binary for other hooks
  entry: make build
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit
  - pre-push

antimoji-auto-clean:
  name: Antimoji Auto-Clean
  description: Automatically remove emojis from source code files
  entry: bin/antimoji clean --config=.antimoji.yaml --profile=pre-commit --in-place --backup --quiet
  language: system
  pass_filenames: true
  require_serial: false
  stages:
  - pre-commit

ci: trigger fresh CI run to test quality gate fixes
  .github/workflows/README.md
Due: none

fix: update CI workflow coverage threshold to match Makefile
  .github/workflows/ci.yml
Due: none

docs: Add comprehensive refactoring plan
  20250909-refactor.md
Due: none

feat: Implement dependency injection foundation
  TECHDEBT.md
  cmd/antimoji/main.go
  internal/app/application.go
  internal/app/application_test.go
  internal/app/dependencies.go
  internal/app/dependencies_test.go
  internal/observability/logging/mock.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

feat: Refactor scan command to use dependency injection
  TECHDEBT.md
  internal/app/application.go
  internal/app/commands/scan.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: Resolve linting issues in scan command and tests
  internal/app/application_test.go
  internal/app/commands/scan.go
  internal/app/dependencies_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

docs: Add detailed PR #1 documentation
  pr-01.md
Due: none

feat: Refactor clean command to use dependency injection
  TECHDEBT.md
  internal/app/application.go
  internal/app/commands/clean.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: Resolve PR #8 failing checks
  TECHDEBT.md
  internal/app/application.go
  internal/app/commands/scan.go
  internal/app/commands/scan_test.go
  internal/cli/setup_lint.go
  internal/core/allowlist/processor_test.go
  internal/core/processor/modifier.go
  internal/observability/context/context_test.go
  internal/ui/output_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

docs: Update TECHDEBT.md - PR #8 fixes complete
  TECHDEBT.md
Due: none

docs: PR #8 all checks now passing
  TECHDEBT.md
Due: none

docs: Add development standards for lint and test
  TECHDEBT.md
Due: none

fix: Address PR #8 review feedback and organize refactoring files
  .gitignore
  20250909-refactor.md
  PRECOMMIT_REFACTOR_SUMMARY.md
  RELEASES.md
  RELEASE_PROCESS.md
  TECHDEBT.md
  internal/observability/logging/mock.go
  internal/observability/logging/mock_test.go
  pr-01.md
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Revert "fix: Address PR #8 review feedback and organize refactoring files"
  .gitignore
  20250909-refactor.md
  PRECOMMIT_REFACTOR_SUMMARY.md
  RELEASES.md
  RELEASE_PROCESS.md
  TECHDEBT.md
  internal/observability/logging/mock.go
  internal/observability/logging/mock_test.go
  pr-01.md
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

feat: Establish Dependency Injection Foundation and Refactor Scan Command (#8)
  20250909-refactor.md
  TECHDEBT.md
  cmd/antimoji/main.go
  internal/app/application.go
  internal/app/application_test.go
  internal/app/commands/scan.go
  internal/app/commands/scan_test.go
  internal/app/dependencies.go
  internal/app/dependencies_test.go
  internal/cli/setup_lint.go
  internal/core/allowlist/processor_test.go
  internal/core/processor/modifier.go
  internal/observability/context/context_test.go
  internal/observability/logging/mock.go
  internal/ui/output_test.go
  pr-01.md
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Complete CLI layer migration to dependency injection
  .refactor/20250909-refactor.md
  .refactor/PRECOMMIT_REFACTOR_SUMMARY.md
  .refactor/RELEASES.md
  .refactor/RELEASE_PROCESS.md
  .refactor/TECHDEBT.md
  .refactor/pr-08.md
  .refactor/pr-09.md
  cmd/antimoji/main.go
  commit_pr9.sh
  internal/app/application.go
  internal/app/application_test.go
  internal/app/commands/clean.go
  internal/app/commands/generate.go
  internal/app/commands/scan.go
  internal/app/commands/setup_lint.go
  internal/app/dependencies.go
  internal/cli/setup_lint.go
  internal/config/templates.go
  internal/core/allowlist/allowlist.go
  internal/core/detector/detector.go
  internal/observability/logging/mock.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Add comprehensive test coverage infrastructure achieving 84.5%
  .antimoji.yaml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .refactor/20250909-refactor.md
  .refactor/PRECOMMIT_REFACTOR_SUMMARY.md
  .refactor/RELEASES.md
  .refactor/RELEASE_PROCESS.md
  .refactor/TECHDEBT.md
  .refactor/pr-08.md
  .refactor/pr-09.md
  Makefile
  commit_pr9.sh
  internal/app/application.go
  internal/app/application_test.go
  internal/app/commands/clean_test.go
  internal/app/commands/generate_test.go
  internal/app/commands/scan_extended_test.go
  internal/app/commands/scan_test.go
  internal/app/commands/setup_lint_test.go
  internal/cli/root.go
  internal/cli/zero_coverage_functions_test.go
  internal/config/templates_test.go
  internal/config/validation_test.go
  internal/core/allowlist/allowlist.go
  internal/core/detector/detector.go
  internal/infra/analysis/analyzer.go
  internal/infra/analysis/analyzer_test.go
  internal/infra/filtering/discovery_edge_cases_test.go
  internal/infra/filtering/discovery_test.go
  internal/infra/fs/binary_reason_test.go
  internal/infra/fs/reader_comprehensive_test.go
  internal/observability/logging/mock_comprehensive_test.go
  internal/observability/logging/noop_test.go
  internal/ui/output_comprehensive_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Update test coverage threshold from 85% to 80%
  .github/workflows/ci.yml
  Makefile
Due: none

Comprehensive linting fixes and standards establishment
  internal/app/commands/clean_test.go
  internal/app/commands/generate_test.go
  internal/app/commands/setup_lint_test.go
  internal/cli/zero_coverage_functions_test.go
  internal/infra/fs/reader_comprehensive_test.go
  internal/observability/logging/mock_comprehensive_test.go
  internal/observability/logging/noop_test.go
  internal/ui/output_comprehensive_test.go
  lint-issues.json
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

refactor: remove golangci-lint integration from setup-lint command
  CHANGELOG.md
  README.md
  internal/app/commands/setup_lint.go
  internal/app/commands/setup_lint_test.go
  internal/cli/setup_lint.go
  internal/cli/setup_lint_regression_test.go
  internal/cli/setup_lint_test.go
  internal/cli/zero_coverage_functions_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix(ci): make Windows tests non-blocking in nightly builds
  .github/workflows/nightly.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: \.go$
  antimoji-source-lint: any of: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$, but not: (?x)^(
  .*_test\.go|
  .*/test/.*|
  .*/tests/.*|
  .*/testdata/.*|
  .*/fixtures/.*|
  .*/mocks/.*|
  vendor/.*|
  dist/.*|
  bin/.*|
  cmd/.*
)$

  build-antimoji: any of: \.(go)$
  antimoji-auto-clean: any of: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$, but not: (?x)^(
  .*_test\.go|
  .*/test/.*|
  .*/tests/.*|
  .*/testdata/.*|
  .*/fixtures/.*|
  .*/mocks/.*|
  vendor/.*|
  dist/.*|
  bin/.*|
  internal/cli/generate\.go|
  internal/config/config\.go|
  internal/core/allowlist/allowlist\.go|
  internal/core/detector/detector\.go|
  internal/cli/root\.go|
  internal/types/detection\.go
)$

