Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

.pre-commit-config.yaml:

# Pre-commit configuration for Antimoji project
# This configuration uses antimoji to lint its own codebase

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go-specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        description: Runs gofmt, requires golang
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
      - id: go-vet
        name: go vet
        description: Runs go vet, requires golang
        entry: go
        language: system
        args: [vet, ./...]
        types: [go]
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        description: Runs go mod tidy, requires golang
        entry: go
        language: system
        args: [mod, tidy]
        types: [go]
        pass_filenames: false

  # Local antimoji hooks (using the built binary)
  - repo: local
    hooks:
      # Strict emoji linting for source code
      - id: antimoji-source-lint
        name: Antimoji Source Code Linter
        description: Ensure no emojis in production source code
        entry: bin/antimoji scan --config=.antimoji.yaml --profile=ci-lint --threshold=0 --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            cmd/.*
          )$
        pass_filenames: true
        require_serial: false

      # Build antimoji before running hooks (ensures binary is available)
      - id: build-antimoji
        name: Build Antimoji Binary
        description: Build antimoji binary for other hooks
        entry: make build
        language: system
        files: \.(go)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit, pre-push]

      # Generate antimoji configuration if it doesn't exist
      - id: ensure-antimoji-config
        name: Ensure Antimoji Configuration
        description: Generate .antimoji.yaml if it doesn't exist
        entry: bash -c 'if [ ! -f .antimoji.yaml ]; then make generate-allowlist; fi'
        language: system
        files: \.antimoji\.yaml$
        pass_filenames: false
        require_serial: true
        always_run: true
        stages: [pre-commit]

      # Auto-clean emojis from source code (with backup)
      - id: antimoji-auto-clean
        name: Antimoji Auto-Clean
        description: Automatically remove emojis from source code files
        entry: bin/antimoji clean --config=.antimoji.yaml --profile=pre-commit --in-place --backup --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            internal/cli/generate\.go|
            internal/config/config\.go|
            internal/core/allowlist/allowlist\.go|
            internal/core/detector/detector\.go|
            internal/cli/root\.go|
            internal/types/detection\.go
          )$
        pass_filenames: true
        require_serial: false
        stages: [pre-commit]

fix: ensure linter generation uses consistent file inclusion logic
  internal/cli/generate.go
  internal/config/config.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: standardize config version to eliminate arbitrary version numbers
  internal/cli/generate.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

purge: remove useless config version field entirely
  internal/cli/clean_test.go
  internal/cli/generate.go
  internal/cli/generate_test.go
  internal/cli/root_test.go
  internal/cli/setup_lint_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: comprehensive file inclusion and config cleanup (#3)
  internal/cli/clean_test.go
  internal/cli/generate.go
  internal/cli/generate_test.go
  internal/cli/root_test.go
  internal/cli/scan.go
  internal/cli/scan_test.go
  internal/cli/setup_lint_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

docs: update CHANGELOG for v0.9.13 release
  CHANGELOG.md
Due: none

fix: resolve ERROR status when using configuration files
  internal/config/config.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: resolve ERROR status when using configuration files (#5)
  internal/config/config.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

docs: update CHANGELOG for v0.9.14 release
  CHANGELOG.md
Due: none

docs: fix release date for v0.9.14 to 2025-07-09
  CHANGELOG.md
Due: none

fix: add Formula folder specification to GoReleaser homebrew config
  .goreleaser.yaml
Due: none

docs: add comprehensive release process documentation and safeguards
  .github/workflows/release.yml
  .goreleaser.yaml
  RELEASE_PROCESS.md
Due: none

fix: use 'directory' instead of 'folder' in GoReleaser brews config
  .goreleaser.yaml
Due: none

docs: update all documentation to use 'directory' instead of 'folder'
  RELEASE_PROCESS.md
Due: none

Fix pre-commit zero-tolerance integration bug (#6)
  .antimoji.yaml
  PRECOMMIT_REFACTOR_SUMMARY.md
  examples/pre-commit/README.md
  examples/pre-commit/ci-friendly.yaml
  examples/pre-commit/zero-tolerance.yaml
  internal/cli/clean.go
  internal/cli/clean_precommit_test.go
  internal/cli/scan.go
  internal/cli/setup_lint.go
  internal/cli/setup_lint_regression_test.go
  internal/core/allowlist/processor.go
  issue-body.md
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Fix CI issues: update tests and lint errors
  internal/cli/clean_precommit_test.go
  internal/cli/setup_lint_regression_test.go
  internal/cli/setup_lint_test.go
  issue-body.md
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

Fix failing CI checks
  .antimoji.yaml
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

Fix antimoji linting CI check
  .antimoji.yaml
  .github/workflows/ci.yml
Due: none

Fix remaining test syntax error
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

Fix pre-commit zero-tolerance integration bug (#7)
  .antimoji.yaml
  .github/workflows/ci.yml
  PRECOMMIT_REFACTOR_SUMMARY.md
  examples/pre-commit/README.md
  examples/pre-commit/ci-friendly.yaml
  examples/pre-commit/zero-tolerance.yaml
  internal/cli/clean.go
  internal/cli/clean_precommit_test.go
  internal/cli/scan.go
  internal/cli/setup_lint.go
  internal/cli/setup_lint_regression_test.go
  internal/cli/setup_lint_test.go
  internal/core/allowlist/processor.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Prepare v0.9.15 release
  CHANGELOG.md
  Makefile
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji
