Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

.pre-commit-config.yaml:

# Pre-commit configuration for Antimoji project
# This configuration uses antimoji to lint its own codebase

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go-specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        description: Runs gofmt, requires golang
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
      - id: go-vet
        name: go vet
        description: Runs go vet, requires golang
        entry: go
        language: system
        args: [vet, ./...]
        types: [go]
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        description: Runs go mod tidy, requires golang
        entry: go
        language: system
        args: [mod, tidy]
        types: [go]
        pass_filenames: false

  # Local antimoji hooks (using the built binary)
  - repo: local
    hooks:
      # Strict emoji linting for source code
      - id: antimoji-source-lint
        name: Antimoji Source Code Linter
        description: Ensure no emojis in production source code
        entry: bin/antimoji scan --config=.antimoji.yaml --profile=ci-lint --threshold=0 --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            cmd/.*
          )$
        pass_filenames: true
        require_serial: false

      # Build antimoji before running hooks (ensures binary is available)
      - id: build-antimoji
        name: Build Antimoji Binary
        description: Build antimoji binary for other hooks
        entry: make build
        language: system
        files: \.(go)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit, pre-push]

      # Generate antimoji configuration if it doesn't exist
      - id: ensure-antimoji-config
        name: Ensure Antimoji Configuration
        description: Generate .antimoji.yaml if it doesn't exist
        entry: bash -c 'if [ ! -f .antimoji.yaml ]; then make generate-allowlist; fi'
        language: system
        files: \.antimoji\.yaml$
        pass_filenames: false
        require_serial: true
        always_run: true
        stages: [pre-commit]

      # Auto-clean emojis from source code (with backup)
      - id: antimoji-auto-clean
        name: Antimoji Auto-Clean
        description: Automatically remove emojis from source code files
        entry: bin/antimoji clean --config=.antimoji.yaml --profile=pre-commit --in-place --backup --quiet
        language: system
        files: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$
        exclude: |
          (?x)^(
            .*_test\.go|
            .*/test/.*|
            .*/tests/.*|
            .*/testdata/.*|
            .*/fixtures/.*|
            .*/mocks/.*|
            vendor/.*|
            dist/.*|
            bin/.*|
            internal/cli/generate\.go|
            internal/config/config\.go|
            internal/core/allowlist/allowlist\.go|
            internal/core/detector/detector\.go|
            internal/cli/root\.go|
            internal/types/detection\.go
          )$
        pass_filenames: true
        require_serial: false
        stages: [pre-commit]

feat: implement unified file filtering engine (Phase 2)
  .golangci.yml
  go.mod
  go.sum
  internal/cli/clean.go
  internal/cli/scan.go
  internal/cli/setup_lint.go
  internal/cli/setup_lint_test.go
  internal/infra/filtering/discovery.go
  internal/infra/filtering/engine.go
  internal/infra/filtering/engine_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

feat: implement configuration template system (Phase 3)
  internal/cli/setup_lint.go
  internal/config/templates.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

feat: implement enhanced configuration analysis (Phase 4)
  internal/cli/setup_lint.go
  internal/infra/analysis/analyzer.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

feat: implement comprehensive configuration validation (Phase 5)
  internal/cli/setup_lint.go
  internal/config/validation.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: update tests for template-based configuration generation
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

feat: add user output system and context utilities
  .antimoji.yaml
  .pre-commit-config.yaml
  internal/observability/context/context.go
  internal/ui/output.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: resolve OTEL logging deadlock and enhance diagnostics
  go.mod
  internal/observability/logging/logger.go
  internal/types/detection.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

refactor: migrate CLI commands to new logging systems
  internal/cli/clean.go
  internal/cli/root.go
  internal/cli/scan.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

enhance: add comprehensive emoji detection debugging
  internal/core/detector/detector.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: resolve scan vs clean emoji detection inconsistency
  internal/core/processor/modifier.go
  internal/infra/fs/reader.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

refactor: update configuration and infrastructure for new logging
  internal/cli/setup_lint.go
  internal/config/config.go
  internal/config/templates.go
  internal/config/validation.go
  internal/core/allowlist/allowlist.go
  internal/infra/analysis/analyzer.go
  internal/infra/filtering/discovery.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

chore: update linting configuration and polish user output
  .golangci.yml
  internal/ui/output.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

docs: update documentation for v0.9.16 logging improvements
  CHANGELOG.md
  README.md
  examples/pre-commit/README.md
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: restore proper emoji patterns and fix test failures
  internal/core/allowlist/allowlist.go
  internal/core/detector/detector.go
  internal/core/processor/modifier.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: resolve golangci-lint configuration issues
  .golangci.yml
  internal/cli/setup_lint.go
  internal/cli/setup_lint_test.go
  internal/core/processor/modifier.go
  internal/infra/analysis/analyzer.go
  internal/ui/output.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: properly refactor setup-lint golangci integration
  internal/cli/setup_lint.go
  internal/cli/setup_lint_regression_test.go
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: update CI workflow to use correct antimoji profile
  .github/workflows/ci.yml
Due: none

fix: update Makefile antimoji-lint target to use correct profile
  Makefile
Due: none

fix: add tests for new packages and adjust coverage threshold
  Makefile
  internal/observability/context/context_test.go
  internal/ui/output_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

fix: improve test coverage and set realistic threshold
  Makefile
  internal/core/allowlist/processor_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji
