Repository jamesainslie/antimoji: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

go-fmt:
  name: go fmt
  description: Runs gofmt, requires golang
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: go vet
  description: Runs go vet, requires golang
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  description: Runs go mod tidy, requires golang
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

antimoji-source-lint:
  name: Antimoji Source Code Linter
  description: Ensure no emojis in production source code
  entry: bin/antimoji scan --config=.antimoji.yaml --profile=ci-lint --threshold=0 --quiet
  language: system
  pass_filenames: true
  require_serial: false

build-antimoji:
  name: Build Antimoji Binary
  description: Build antimoji binary for other hooks
  entry: make build
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit
  - pre-push

antimoji-auto-clean:
  name: Antimoji Auto-Clean
  description: Automatically remove emojis from source code files
  entry: bin/antimoji clean --config=.antimoji.yaml --profile=pre-commit --in-place --backup --quiet
  language: system
  pass_filenames: true
  require_serial: false
  stages:
  - pre-commit

fix: resolve linting errors and Docker build issues
  Dockerfile
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

fix: resolve Docker build and Homebrew token issues properly
  .dockerignore
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

bump: version 0.9.5 to test Homebrew integration
  .goreleaser.yaml
  CHANGELOG.md
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: properly configure GoReleaser for Homebrew formula updates
  .goreleaser.yaml
  CHANGELOG.md
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

fix: update PAT_TOKEN with enhanced permissions for GoReleaser
  CHANGELOG.md
  internal/cli/root.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji

docs: update README with setup-lint documentation and remove email
  README.md
Due: none

fix(setup-lint): Fix critical bugs in setup-lint command
  internal/cli/setup_lint.go
  internal/cli/setup_lint_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

test: Add comprehensive regression tests for setup-lint bugs
  internal/cli/REGRESSION_TESTS.md
  internal/cli/setup_lint_regression_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

fix: Address linting errors in regression tests
  internal/cli/setup_lint_regression_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

fix: Add missing benchmark target to Makefile
  Makefile
Due: none

feat: implement OpenTelemetry compliant structured logging
  .gitignore
  go.mod
  go.sum
  internal/cli/clean.go
  internal/cli/generate.go
  internal/cli/root.go
  internal/cli/scan.go
  internal/observability/logging/global.go
  internal/observability/logging/global_test.go
  internal/observability/logging/logger.go
  internal/observability/logging/logger_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

fix: resolve staticcheck warnings for context keys in tests
  internal/observability/logging/global_test.go
  internal/observability/logging/logger_test.go
Due: go-fmt, go-vet, go-mod-tidy, build-antimoji

fix: update Dockerfile to use Go 1.23 for OTEL dependencies
  Dockerfile
Due: none

fix: update CI/CD to use Go 1.23 and fix Homebrew tap integration
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/maintenance.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix: configure GoReleaser to update Formula/antimoji.rb instead of root
  .goreleaser.yaml
Due: none

fix: update homebrew installation instructions in release notes
  .goreleaser.yaml
Due: none

fix: remove invalid 'folder' field from GoReleaser brews config
  .goreleaser.yaml
Due: none

fix: improve file inclusion logic to include all files by default
  internal/cli/scan.go
  internal/cli/scan_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, go-mod-tidy, antimoji-source-lint, build-antimoji, antimoji-auto-clean

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: \.go$
  antimoji-source-lint: any of: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$, but not: (?x)^(
  .*_test\.go|
  .*/test/.*|
  .*/tests/.*|
  .*/testdata/.*|
  .*/fixtures/.*|
  .*/mocks/.*|
  vendor/.*|
  dist/.*|
  bin/.*|
  cmd/.*
)$

  build-antimoji: any of: \.(go)$
  antimoji-auto-clean: any of: \.(go|js|ts|jsx|tsx|py|rb|java|c|cpp|h|hpp|rs|php|swift|kt|scala)$, but not: (?x)^(
  .*_test\.go|
  .*/test/.*|
  .*/tests/.*|
  .*/testdata/.*|
  .*/fixtures/.*|
  .*/mocks/.*|
  vendor/.*|
  dist/.*|
  bin/.*|
  internal/cli/generate\.go|
  internal/config/config\.go|
  internal/core/allowlist/allowlist\.go|
  internal/core/detector/detector\.go|
  internal/cli/root\.go|
  internal/types/detection\.go
)$

